[Desktop Entry]
Type=Application
Name=laspad
Comment=Publish mods for Natural Selection 2 to Steam Workshop
Exec=laspad
Icon=laspad
Terminal=false
StartupNotify=false
Keywords=NS2;Natural Selection 2;Steam;Workshop;Modification;
Categories=Development;Building;
