html, body {
	margin:      0;
	height:      100%;
	font-family: monospace;
	color:       white;
}

body {
	background-color: #333;
	display:          flex;
}

#commandpanel {
	display:        flex;
	flex-direction: column;
	flex:           1;
	margin:         0.5vmin;
	align-items:    stretch;
}

#subcommands {
	display:        flex;
	flex-direction: row;
	flex-wrap:      wrap;
	flex:           2;
	align-items:    stretch;
}

#subcommands>button {
	flex: 1 0;
	font-size:  2rem;
}

#publish {
	display:        flex;
	flex-direction: row;
	flex:           1;
}

.branch {
	flex:       1 0;
	font-size:  2rem;
	background: #70433A;
}

button {
	margin: 0.8vmin;
	border: none;
}

button:hover {
	background: #555 !important;
}

#update {
	background: #757;
}

#need {
	background: #775;
}

#ns2 {
	background: #577;
}

#editor {
	background: #C77;
}


#log {
	overflow:     auto;
	flex:         1;
	font-size:    1.3rem;
	margin-top:   0.5vmin;
	margin-right: 0.5vmin;
}

.warning {
	color: red;
}

.message {
	color: white;
}

.information {
	color:       white;
	font-weight: bold;
}
